<mat-grid-list cols="4" gutterSize="16px" style="display: flex;">
  <mat-grid-tile *ngFor="let room of data trackById">
    <app-room [data]="room">
      <mat-icon class="icon-container" [routerLink]="['../room',room.number]">info</mat-icon>
      <button *ngIf="room.state | notifyConditional: role" mat-raised-button color="warn" (click)="onNotifyAdmin(room.number)">Notify admin about room!</button>
      <!-- TODO: show/hide  If admin directive onlyAdmin -->
    </app-room>
  </mat-grid-tile>
</mat-grid-list>



